.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 20px 0;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.colorBlock {
    width: 200px;
    height: 100px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-weight: bold;
    }
}

.flex-row {
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: flex-start;
}
